# QUESTIONS

Set up the environment
You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from 06-environment.md.

Question 1
What's the version of NumPy that you installed?

You can get the version information using the __version__ field:

np.__version__
Getting the data
For this homework, we'll use the Car price dataset. Download it from here.

You can do it with wget:

wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Or just open it with your browser and click "Save as...".

Now read it with Pandas.

Question 2
How many records are in the dataset?

Here you need to specify the number of rows.

16
6572
11914
18990
Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

Chevrolet, Volkswagen, Toyota
Chevrolet, Ford, Toyota
Ford, Volkswagen, Toyota
Chevrolet, Ford, Volkswagen
Note: You should rely on "Make" column in this question.

Question 4
What's the number of unique Audi car models in the dataset?

3
16
26
34
Question 5
How many columns in the dataset have missing values?

5
6
7
8
Question 6
Find the median value of "Engine Cylinders" column in the dataset.
Next, calculate the most frequent value of the same "Engine Cylinders".
Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
Now, calculate the median value of "Engine Cylinders" once again.
Has it changed?

Hint: refer to existing mode and median functions to complete the task.

Yes
No
Question 7
Select all the "Lotus" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?
Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [17]:
import numpy as np
import pandas as pd

### Question 1

In [18]:
np.__version__

'1.21.5'

#### Getting the data

In [19]:
data=pd.read_csv("data.csv")
data.shape

(11914, 16)

#### Question 2

In [20]:
data.shape[0]

11914

### Question 3

In [21]:
data["Make"].value_counts().head()

Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Dodge          626
Name: Make, dtype: int64

### Question 4

In [22]:
data[data['Make'] == 'Audi']['Model'].nunique()

34

### Question 5

In [23]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

### Question 6

In [24]:
data["Engine Cylinders"].median()

6.0

In [25]:
mean_=data["Engine Cylinders"].mean()

In [26]:
data["Engine Cylinders"].fillna(mean_)

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

In [27]:
data["Engine Cylinders"].median()

6.0

### Question 7

In [28]:
lotus_df = data[data['Make'] == 'Lotus']
lotus_df = lotus_df[['Engine HP', 'Engine Cylinders']]
lotus_df = lotus_df.drop_duplicates()
lotus_df

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [29]:
X = lotus_df.to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [30]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [31]:
w = (XTX_inv @ X.T) @ y

In [32]:
w[0]

4.594944810094551